{{>header}}
<main class="main-page main-form">
    <section class="main-page-form">
        <h2>Faturação</h2>
        <form class="main-page-form-cadastro-faturacao">
            <div class="main-page-form-campo">
                Para o/a Sub-agente: {{agente.nome}}
            </div>
            
            <input type="number" value="{{agente.id_agente}}" name="agente_id" id="agente_id" placeholder="ID do agente" required autocomplete="off" style="display: none;">

            <section class="campoMoedaFormatada">
                <label for="valor_electronico">Valor do saldo electronico</label>
                <div>
                    <input type="text" id="valor_electronico" placeholder="0,00" class="inputFormatado">
                    <input type="hidden" class="valorReal" name="valor_electronico">
                    <span>Kz</span>
                </div>
            </section>

            <section class="campoMoedaFormatada">
                <label for="valor_fisico">Valor do saldo físico</label>
                <div>
                    <input type="text" id="valor_fisico" placeholder="0,00" class="inputFormatado">
                    <input type="hidden" class="valorReal" name="valor_fisico">
                    <span>Kz</span>
                </div>
            </section>

            
            <select name="forma_pagamento" id="forma_pagamento">
                {{#if (eq forma_pagamento "Mensal")}}
                <option value="Mensal">Mensal</option>
                {{else if (eq forma_pagamento "Quinzenal")}}
                <option value="Quinzenal">Quinzenal</option>
                {{else}}
                <option selected disabled>Forma Pagamento...</option>
                <option value="Mensal">Mensal</option>
                <option value="Quinzenal">Quinzenal</option>
                {{/if}}
            </select>
            <button type="submit">Cadastrar</button>
        </form>
    </section>
</main>